<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/giris.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Orpheus | Giriş</title>
</head>
<body>
    <div id="main">
        <h1 id="baslik">ORPHEUS Giriş Paneli</h1>
        <form action="{{ url_for('hesap_kontrol') }}" method="post">
            <label id="ad-baslik">Kullanıcı Adı</label><br><br>
            <input id="kullanici" type="text" name="ad" placeholder="Kullanıcı Adı" required><br><br>

            <label id="sifre-baslik">Şifre</label><br><br>
            <input id="sifre" type="password" name="sifre" placeholder="Şifre" required><br><br>
            <button id="giris-btn"><i class="fa fa-arrow-right" style="font-size:18px"></i></i>&nbsp;Devam et</button>
        </form>
        <a href="/kayit" id="kayit-yonlendir">Bir hesabınız yok mu? Oluşturmak için tıklayın.</a>
        <hr id="sol">
        <hr id="sag">
        <a id="google" href="/google-login"><i class="fa fa-google" style="font-size: 24px;"></i> Google ile Oturum aç </a>
        <a id="spotify" href="/spotify_giris"><i class="fa fa-spotify" style="font-size: 24px; color: rgb(30, 215, 96);"></i> Spotify ile Oturum aç </a>
    </div>
</body>
</html>
