<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/baslangic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Orpheus</title>
</head>
<body>
    <div id="ust-kutucuk">
        <a href="/">
            <img id="logo" src="/static/imgs/orpheusv1.png" alt="Orpheus Logo">
        </a>
        

        <a id="giris-btn" href="/giris">Giriş Yap</a>
        <a id="kayit-btn" href="/kayit">Üye Ol</a>
    </div>

    <div id="icerik-2">
        <h2>ORPHEUS MÜZİK ANALİZ UYGULAMASI</h2>
        <p class="icerik2-aciklama">
            <i class="fa fa-circle" style="font-size: 8px;"></i> Ücretsiz Müzik Analizi ve Ses Değişimleri için kullanacağınız en pratik uygulama!<br><br>
            <i class="fa fa-circle" style="font-size: 8px;"></i> Analizini yapmak istediğiniz şarkının, ses kaydının ve daha fazlasının detaylı bilgilerine sahip olup profesyonel çalışmalarınızı ilerletin.
        </p>
        <a id="kullan-btn" href="/muzik_analizi">Hemen Kullanmaya Başla&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>

    <h1>Orpheus Müzik Uygulaması Ne İşe Yarar?</h1>
    <div id="arkaplan-1"></div>
    <div id="icerik-1">
        <p class="icerik1-aciklama">Ses düzenleme, günümüzde müzik endüstrisinin temel taşlarından biri haline gelmiştir. Orpheus, müzik üreticileri, DJ'ler ve ses mühendislerinin işlerini kolaylaştıran önemli bir araçtır. Temel olarak, Orpheus, bir müzik parçasının dakikadaki vuruş sayısını (beats per minute) belirleyen bir araçtır. Bu, müzik yapımcılarına ve DJ'lere parçaları uyumlu bir şekilde karıştırma ve düzenleme yeteneği sağlar. </p>
        <img src="/static/imgs/ornek_sonuc.png">
    </div>
    <div id="ses-dosyasi"><audio controls><source src="/static/sounds/pink-floyd-welcome-to-the-machine.mp3" type="audio/mpeg"></audio></div>
    
    <div id="icerik-3">
        <h1 class="icerik3-baslik">Bu Uygulama Neden Önemli?</h1>
        <iframe src="https://www.youtube.com/embed/3S95UaiToho?si=pp1qONocNsVz-fYj"></iframe>
        <p class="icerik3-aciklama">
            Orpheus'un önemi, müzik endüstrisindeki hızlı tempolu doğasıyla yakından ilişkilidir. Müzik yapımcıları ve DJ'ler, farklı BPM'lerdeki parçaları bir araya getirerek akıcı ve eğlenceli bir müzik deneyimi sunarlar. Ancak, parçaların BPM'lerini manuel olarak belirlemek zaman alıcı ve zorlayıcı olabilir. İşte bu noktada Orpheus devreye girer ve kullanıcıların zamanlarını ve emeklerini tasarruf etmelerine yardımcı olur.
        </p>
    </div>

    <div id="icerik-4">
        <h1 class="icerik4-baslik">Sağladığı Avantajlar Neler?</h1>
        <p class="icerik4-aciklama">
            Orpheus aynı zamanda müzik endüstrisindeki profesyoneller için birçok avantaj sunar. Özellikle, DJ'lerin performanslarında akıcı geçişler yapabilmelerini sağlar ve müzik yapımcılarına parçalarını uyumlu bir şekilde düzenleme ve remixleme esnekliği verir. Ayrıca, yeni başlayanlar için de önemlidir çünkü müzik prodüksiyonuna giriş yaparken BPM'in önemini ve nasıl belirleneceğini öğrenmelerine yardımcı olur.
        </p>
        <h1 class="icerik5-baslik">Temel Amacımız</h1>
        <p class="icerik5-aciklama">
            Sonuç olarak, Orpheus, müzik endüstrisindeki profesyoneller ve amatörler için önemli bir araçtır. Parçaların BPM'lerini hızlı ve doğru bir şekilde belirleyerek, kullanıcıların müziklerini daha etkili bir şekilde düzenlemelerine ve performanslarını geliştirmelerine olanak tanır. Bu nedenle, ses düzenleme sürecinin ayrılmaz bir parçası haline gelmiştir ve her düzeydeki müzik tutkunu için değerli bir araçtır.
        </p>
    </div>
</body>
</html>
