<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/muzik_analizi.css">
    <title>Müzik Analizi</title>
</head>
<body>
    <h1>Müzik Analizi</h1>
    <form action="{{ url_for('analiz_et') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".mp3" required>
        <input type="submit" value="Analiz Et">

        <a href="/anasayfa">Geri Dön</a>
    </form>
    {% if mel_spec_image %}
        <h2>Mel Spectrogram</h2>
        <img src="{{ url_for(mel_spec_image) }}" alt="Mel Spectrogram">
    {% endif %}
</body>
</html>
