<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Slow Down</title>
    <link rel="stylesheet" href="/static/css/yavas.css">
</head>
<body>
    <h1>Audio Slowed</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="audio_file" accept=".mp3" required>
        <button type="submit">Upload and Slow Down</button>
        <a href="/anasayfa">Geri Dön</a>

    </form>

    {% if slow_audio_path %}
    <h2>Slow Down Audio Result</h2>
    <p>Download the slowed down audio:</p>
    <a href="{{ slow_audio_path }}" download="slow_audio.wav">Download Slow Audio</a>
    {% endif %}
</body>
</html>
